<footer>
    <div class="social-icons">
        <div class="icons">
            <a class = "nav-icon" href="#about">О нас</a>
            <a class = "nav-icon" href="#ForWho">Почему мы?</a>
            <a class = "nav-icon" href="#Services">Наши услуги</a>
        </div>
        <p class="copyright">Все права защищены © 2024 OnLeadify Agency</p>
    </div>
</footer>