
<header>
    <nav class="nav-1 container"> 
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn" onclick="toggleMenu()">    
            <i class="fas fa-bars"></i>
        </label>    

        <span class="logo">OnLeadify</span>

        <div class="nav-links">
            <span class="closebtn" onclick="toggleMenu()">&times;</span> 
            <ul>
                <li><a class="nav-icon active" href="#about" onclick="toggleMenu()">О нас</a></li>
                <li><a class="nav-icon" href="#ForWho" onclick="toggleMenu()">Почему мы?</a></li>
                <li><a class="nav-icon" href="#Services" onclick="toggleMenu()">Наши услуги</a></li>
                <li class="whatsapp-contact">
                    <a href="https://wa.me/+77073249107">
                    <img src="pics/icons8-whatsapp-48.png" alt="WhatsApp contact icon" class="whatsapp_icon"> 
                    </a>
                <p>+7 707 324 91 07</p>
                </li>
            </ul>
        </div>
    </nav>
</header>